/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 
    
}
/* paleta de colores

.color1 { #f7f4e8 };
.color2 { #daf3ea };
.color3 { #85e6c0 } Celeste;
.color4 { #6bb39b } Verde;
.color5 { #0b0b0d } Black;



html {
    font-size: 16px;
  }
  @media screen and (min-width: 320px) {
    html {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
  }
  @media screen and (min-width: 1000px) {
    html {
      font-size: 22px;
    }
  }

*/



/*GRID*/



.container1{
    display: grid;
    background-image: linear-gradient(to bottom, #f7f4e8, #daf3ea);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 190px 1fr 1fr 1fr 1fr 0.08fr 0.08fr; 
    grid-template-areas: 
    "header header header header"
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer"
    "footer footer footer footer";
    gap: 5px;

}



header{
    background-image:linear-gradient(to bottom,#f7f4e8 , Black );
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:100px 100px 90px  ;
    grid-template-areas: 
    "logo RedesSociales LogginBuscador"
    "logo RedesSociales LogginBuscador"
    "BarraMenu BarraMenu BarraMenu";
    gap: 0.5rem;
}

.logo{
    display: flex;
    grid-area: logo;
    align-items: center;
    transition: 1s;
}

.logo img{
    margin: 2% 80%;
    width: 250px;
    height: 200px;
   
}



.logo:hover{
    transform: scale(150%);
}

.RedesSociales {

    grid-area: RedesSociales;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2%;
    
}

.RedesSociales img{
    width: 3rem;
    height: 3rem;
    margin: 10px;
    filter: drop-shadow(5px 5px 11px black);
    transition: .3s;

}
.RedesSociales img:hover{
    width: 4rem;
    height: 4rem;
    margin: 10px;
    
}


.LogginBuscador {
    grid-area: LogginBuscador;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    
}

.Loggin {
    grid-area: Loggin;
    margin: 2%;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    gap: 4%;
}

.Loggin__icono{

    width: 3rem;
    height: 3rem;
}



.Loggin__text{

    display: block;
}


.BarraMenu {
    background-color: #6bb39b ;
    grid-area: BarraMenu;
    justify-items: center;
}


main{
    background-image: linear-gradient(to center, #daf3ea , #f7f4e8);
    grid-area: main;
    display: grid;
}

h1{ 

    font-family: 'Square Peg', cursive;
    font-size: 4rem;
}

h2{
    font-family: 'Josefin Sans', sans-serif;

}
.mainCompleto{ 
display: grid;    
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 0.1fr 1fr 1fr 1fr;
grid-template-areas: 
"title title title title"
"seccionImagen seccionImagen seccionImagen seccionImagen"
"seccionVideo seccionVideo seccionVideo seccionVideo"
"NavFoot NavFoot NavFoot NavFoot";
}


.title{
    grid-area: title;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    height: 1%;

}

.seccionImagen{
  grid-area:seccionImagen ;  
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 2%;

 
}

.seccionImagen__title{
    text-align: start;
}
.seccionImagen__contenido{
    display: flex;

    justify-content: space-between;
}
.seccionImagen__contenido--parrafo{
justify-content: center;
    font-size: 1rem;
    font-family: 'Varela Round', sans-serif;
    width: 50%;
}


.seccionVideo{
    grid-area:seccionVideo ;  
  }

  .NavFoot{
    grid-area:NavFoot ;  
  }

footer{
    background-color: #85e6c0;
    grid-area: footer;
}

/*estilos del Nav*/

nav ul{
    margin-top: 1%;
    margin-inline: 5%;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    list-style-type: none;

   

}

nav ul li{
    
    flex-flow: row-reverse;

}


nav ul li a{
    
    font-size: 1.2rem;
    text-decoration: none;
    color: #daf3ea;
    transition: all 0.2s;
    font-family: 'Josefin Sans', sans-serif;
    /*Variables por defecto en el a*/
    --clippyAfter: polygon(0 0, 0 100%, 100% 100%, 0 0);
    --clippyBefore: polygon(0 0, 100% 0, 100% 100%, 84% 43%);
    --colorafter: #daf3ea;
    --colorbefore: rgba(23, 7, 7, 0.915);
   
}

nav ul li a::after{
    content:  "";
    display: block;
    height: 0.4em;
    /*llamo a las variables por default*/
    background: var(--colorafter)  ;
    clip-path: var(--clippyAfter);
    transition: clip-path 0.4s;

}

nav ul li a::before{
    content:  "";
    display: block;
    height: 0.4em;
    /*llamo a las variables por default*/
    background: var(--colorbefore)  ;
    clip-path: var(--clippyBefore);
    transition: clip-path 0.4s;

}




nav ul li a:hover{
    
    font-size: 1.3rem;
    color: #022116;
    /*Cambio las variables en el default cuando paso el mouse por arriba*/
    --clippyBefore: polygon(0 100%, 0 0, 100% 0, 21% 50%);
    --clippyAfter: polygon(0 100%,100% 0,100% 100%,0 100% );
    --colorafter: rgba(23, 7, 7, 0.915);
    --colorbefore: #daf3ea;
}

nav ul li a:focus{
    font-size: 1.2rem;
    text-decoration:underline;
    color: #000000;
}


.imgCarousel{
    margin-right: 5%;
    align-items: center;
    width: 20%;
    height: 20%;
  
}