/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}




/*GRID*/


.container{
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: 2fr 2fr 4fr 4fr 4fr 4fr 2fr 2fr;
    grid-template-areas: 
    "header header header header"
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main"
    "footer footer footer footer"
    "footer footer footer footer";
    gap: 1em;

}



header{
    background-color: chartreuse;
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas: 
    "logo RedesSociales LogginBuscador"
    "logo RedesSociales LogginBuscador"
    "BarraMenu BarraMenu BarraMenu";
    gap: 13em;
}

.logo{
 
    grid-area: logo;
}



.RedesSociales {

    grid-area: RedesSociales;
}




.LogginBuscador {
    grid-area: LogginBuscador;
    gap: 20px;
}

.Loggin {
    grid-area: Loggin;
}

.BarraMenu {
    grid-area: BarraMenu;
}


main{
    background-color: blue;
    grid-area: main;
    display: grid;
}

.bodyCompleto{ 
display: grid;    
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr 1fr;
grid-template-areas: 
"logo RedesSociales Loggin"
"logo RedesSociales buscador"
"BarraMenu BarraMenu BarraMenu";
}
footer{
    background-color: aqua;
    grid-area: footer;
}

/*estilos del Nav*/

nav ul{
    display: flex;

}