
/*reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Importa archivos secundarios
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/mapas";
@import "utilidades/extend";
@import "html/index";
@import "html/multimedia";
@import "html/formarParte";

/*Grid Container*/

.containerGrid{ 
    @include grid (4, .3rem);
    grid-template-areas: 
    "gridHeader gridHeader gridHeader gridHeader"
    "gridHeader gridHeader gridHeader gridHeader"
    "gridMain gridMain gridMain gridMain"
    "gridMain gridMain gridMain gridMain"
    "gridMain gridMain gridMain gridMain"
    "gridMain gridMain gridMain gridMain"
    "gridFooter gridFooter gridFooter gridFooter";
}

.gridHeader{
    @include gridArea(gridHeader);
    @include grid(3, .3rem);
    background-image: url("../img/GENERAL/IMG_0511.jpg");
    grid-template-areas: 
    "logo RedesSociales LogginBuscador"
    "logo RedesSociales LogginBuscador"
    "BarraMenu BarraMenu BarraMenu";
    .logo{
        @include gridArea(logo);
        display: flex;
        justify-content: center;
        margin: 1%;
        transition: 1s;
        img{
            @include medidasCaja(30vh, 23vh, 1% 8%);
            animation-name: movimiento-img;
            animation-iteration-count:  infinite;
            animation-duration: 1s;
            animation-direction: alternate;
        }

    }

    .RedesSociales{
        @include gridArea(RedesSociales);
        @include flexible(flex, row, wrap, center, center);
        margin: 2%;
        img{
            @include medidasCaja(3rem, 3rem, 0.6rem);
            filter: drop-shadow(5px 5px 11px black);
            transition: .3s;
            &:hover{
                @include medidasCaja(4rem, 4rem, 0.8rem);
             }
        }
    }


    .LogginBuscador{
        @include gridArea(LogginBuscador);
        @include flexible(flex, column, wrap, space-between, center);
        margin: 2%;
        .Loggin{
            @include flexible(flex, row, nowrap , space-around, center);
            gap: 5%;
            flex-direction: row-reverse;
            .Loggin__icono{
                @include medidasCaja(3rem, 3rem, auto);
            }
         
            
        }
    }
    .BarraMenu{
        @include gridArea(BarraMenu);
        background-image:  linear-gradient(to left,$color-CelesteOscuro , $color-Celeste );
        justify-items: center;
        border:2px solid rgb(80, 77, 77) ;
        position: sticky;
        top: 0;

          ul{
            margin-top: 1%;
            margin-inline: 5%;
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
        
        
             li{
            
                 flex-flow: row-reverse;
        
              
                 a{
                    font-size: 1.3rem;
                    text-decoration: none;
                    color: #ffffff;
                    -webkit-text-stroke: 0.25px rgb(0, 0, 0);
                    transition: all 0.2s;
                    font-family: $letra_Nav;
                    /*Variables por defecto en el a*/
                    --clippyAfter: polygon(0 0, 0 100%, 100% 100%, 0 0);
                    --clippyBefore: polygon(0 0, 100% 0, 100% 100%, 84% 43%);
                    --colorafter: #daf3ea;
                    --colorbefore: rgba(23, 7, 7, 0.915);

                    &::after{
                        content:  "";
                        display: block;
                        height: 0.4em;
                        /*llamo a las variables por default*/
                        background: var(--colorafter)  ;
                        clip-path: var(--clippyAfter);
                        transition: clip-path 0.4s;
                    }
                    &::before{
                        content:  "";
                        display: block;
                        height: 0.4em;
                        /*llamo a las variables por default*/
                        background: var(--colorbefore)  ;
                        clip-path: var(--clippyBefore);
                        transition: clip-path 0.4s;
                
                    }
                   &:hover{

                    font-size: 1.3rem;
                    color: #022116;
                    /*Cambio las variables en el default cuando paso el mouse por arriba*/
                    --clippyBefore: polygon(0 100%, 0 0, 100% 0, 21% 50%);
                    --clippyAfter: polygon(0 100%,100% 0,100% 100%,0 100% );
                    --colorafter: rgba(23, 7, 7, 0.915);
                    --colorbefore: #daf3ea;
                   } 

                   &:focus{
                    font-size: 1.2rem;
                    text-decoration:underline;
                    color: #000000;
                    -webkit-text-stroke: 0.25px rgb(255, 255, 255);
                    }
                
                 }
            }
        }    
    }
}


.gridMain{
    @include gridArea(gridMain);
    @include grid(4, 0.3rem);
    grid-template-areas: 
    "title title title title"
    "seccionA seccionA seccionA seccionA"
    "seccionB seccionB seccionB seccionB";
    .imgCarousel{
        @include medidasCaja(60%,60%,1%);
        align-items: center;
    }
    .title{
        @include gridArea(title);
        display: flex;
        justify-content: center;
        margin-top:1vh;
        h1{
            font-family: $letra_H1;
            font-size:4rem;
        }
    }
    .seccionA{
        @include gridArea(seccionA);
        @include medidasCaja(100%, 60vh,1%);
        @extend %seccion;
       
    
        .seccion__title{
            margin-left: 10em;
              h2{

            font-family: $letra_H2;
        }
        }
        .seccion__contenido{
            @extend %seccionContenido;
        }
        .seccionParrafo{
            @extend %seccionParrafo;
        }


    }
    .seccionB{
        @include gridArea(seccionB);
        @include medidasCaja(100%, 60vh,1%);
        @extend %seccion;
        @include bordetop(2px, 60%, black);

        .seccion__title{
            margin-left: 60%;
            margin-top: 2em;
            h2{
                font-family: $letra_H2;
            }
        }
        .seccion__contenido--2{
            @extend %seccionContenido;
             flex-direction: row-reverse;
        }
        .seccionParrafo--2{
            @extend %seccionParrafo;
        }
    }

}
.division{
    position: absolute;
    margin-top: 60%
}
.gridFooter{

    @include gridArea(gridFooter);
    @include medidasCaja(100%, auto,0);
    background-image:  linear-gradient(to right,$color-CelesteOscuro , $color-Celeste );
    border:2px solid rgb(80, 77, 77) ;
    text-align: center;
    position: fixed;
    bottom: 0;


}

.checkbtn{

    display: none;
}



#check{

    display: none;
 }

@keyframes movimiento-img {
    to{
        transform: scale(1); 
    }

    from{
        transform: scale(1.03);
    }
}







@media  (max-width: 740px){

  

    .gridHeader{
        @include gridArea(gridHeader);
        @include grid(3, .1rem);

        .logo{
       
            margin: 0.5%;

            img{
                @include medidasCaja(19vh, 14vh, 0.5% 4%);
            }
    
        }
    
        .RedesSociales{
            position: absolute;
            top: 8%;
            flex-wrap: nowrap;
            right: 10%;
            margin: 1%;
            gap: 15%;
            img{
                @include medidasCaja(1.5rem, 1.5rem, 0.1rem);
                filter: drop-shadow(3px 3px 8px black);
               
                &:hover{
                    @include medidasCaja(2rem, 2rem, 0.2rem);
                 }
            }
        }
    
    
        .LogginBuscador{
            @include gridArea(LogginBuscador);
            @include flexible(flex, column, wrap, space-between, center);
            margin: 2%;
            .buscador{
                display: none;
             }
         
            .Loggin{
                @include flexible(flex, row, nowrap , space-around, center);
                gap: 5%;
                flex-direction: row-reverse;
                .Loggin__icono{
                    @include medidasCaja(3rem, 3rem, auto);
                     }
             
                }
            
                
            }
        
            
  
    .BarraMenu{
    
        height: 60px;
            .checkbtn{
                font-size: 2rem;
                display:flex;
                color: white;
                justify-content: center;
                float: left;
                margin:2%;
                margin-left:5%;
                cursor: pointer;
            }

          ul{
            position: fixed;
            display: flex;
            width: 60vh;
            height: 70vh;
            flex-flow: column;
            justify-content:initial;
            background-image:linear-gradient(to bottom, rgb(56, 122, 115),rgb(25, 26, 27)) ;
            top: 11rem;
            left: -160%;
            transition: all .5s;
            margin-inline: 0;
            gap: 4%;
            align-items: center;
          
            li{

                margin-top: 5%;
                margin-right: 10%;
                a{
                    font-size: 1rem;
                    color: #daf3ea;
                    transition: all 0.2s;
                    &::after{
                        content:  "";
                        display: block;
                        height: 0.5em;
                    }
                    &::before{
                        display: none;
                    }
                
                }
            }
        
          }
    
        }
    }
      
    .gridMain {
      .title{
        h1{
            font-size: 3rem;
        }
        
      }
    gap: 5%;


        .seccionA{
            margin: 0%;
            gap: 2%;

              .seccion__title{
                margin-left: 4em;
              }
            .seccion__contenido{
                @include secContenidoMQ;
               align-items: center;
                .imgCarousel{
                    display: flex;
                    justify-content: center;
                    width: 80%;      
                
                }
                .seccionParrafo{
                    min-height: 20vh;
                    display: flex;
                    justify-content: left;
                    align-items: left;
                    margin: 0%;
                    text-align: center;
                    font-size: 0.8rem;
                    font-family: $letra_P;
                    width: 80%;
             }

        
            }  

        }

        .seccionB{
            
            .seccion__title{
                margin-left:5vh;
                margin-top: 44vh;
            }

        .contenido__video{
            @include medidasCaja(70%,70%,0);

        }
        .seccion__contenido--2{
        
            @include secContenidoMQ;
            align-items: center;

            .seccionParrafo--2{
                 min-height: 20vh;
                    display: flex;
                    justify-content: left;
                    align-items: left;
                    margin-top: 15vh;
                    text-align: center;
                    font-size: 0.8rem;
                    font-family: $letra_P;
                    width: 80%;
                 }

            }
         }

    }
}



#check:checked ~ ul {
    left: -5%;
}

