//Importa archivos secundarios
@import "utilidades/variables";
@import "utilidades/mixin";
@import "utilidades/extend";



.containerMultimedia{
    @include flexible(flex, column, wrap, space-around, center);
    @extend %imgContenedores;
    background-image: url("../img/fondos/123123.jpg");
    .title{
        @extend %letraH1;
    }
    .listaMultimedia{
        background-image:  linear-gradient(to left,$color-Negro, $color-Negro );
        flex-flow: column;
        justify-items: center;
        border:2px solid rgb(80, 77, 77) ;
        width: 13%;
        position: sticky;
        top: 80px;
        box-shadow: 0px 0px 30px black;
        .container-fluid{
            justify-content: center;
            align-items: center;
            a{
                display: flex;
                color: $color-Blanco;
                font-size: 1.4rem;
                gap: 5%;
                font-family:$letra_H1;
              &:hover{
                color: $color-Celeste;
                -webkit-text-stroke: 0.1px rgb(158, 158, 158);
                transition: all 0.4s;
               }
           }
           
        }
    }
    .seccionFotos{
        @extend  %FlexColumnCentro;
        width: 100%;
        gap: 5%;
        .subTitle{
            text-align: center;
            font-family:$letra_H2;
            margin-top: 3%;
            h2{
                font-size: $letra_H2_alto;
                }
            }
        .agrupacionCard{

         

            @include flexible(flex, row, wrap, space-around, center);
            gap: 5%;
          
    
        
            .cardPropia{
                box-shadow: 0px 0px 30px black;
                margin-top: 1%;
                &:hover{
                    transform: scale(1.1);
                    transition: 1s;
                }
                   .pieCard{
                    background-image: radial-gradient(circle at 46.73% 12.66%, $color-Negro 0, $color-Negro 25%, $color-Negro 40%, $color-rosa 80%, $color-rosa );
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 5vh;
                    p{
                        color: $color-Blanco;
                        font-weight: 700;
                        margin-bottom: 0;
                    }
                }
                .imgCard{
            
                img{
                    width: 100%;
                    height: 35vh;
                }
            }
        }
        }
    }
    .seccionVideo{
        @extend  %FlexColumnCentro;
        width: 100%;
        .subTitle{
            text-align: center;
            font-family:$letra_H2;
            margin-top: 6%;
            h2{
                font-size: $letra_H2_alto;
                }
            }
             .agrupacionVideo{
                 @include seccion_768;
                
                .cardPropia{
                    box-shadow: 0px 0px 30px black;
                    margin-top: 3%;

                    .pieCard{
                        background-image: radial-gradient(circle at 46.73% 12.66%, $color-Negro 0, $color-Negro 25%, $color-Negro 40%, $color-Naranja 80%, $color-Naranja );
                        @extend  %FlexRowCentro;
                        height: 5vh;
                        p{
                            color: $color-Blanco;
                            font-weight: 700;
                            margin-bottom: 0;
                        }
                    }
                    .imgCard{
                        img{
                        width: 100%;
                        height: 35vh;
                        }
                    }
                }
            }
        }
    }
    