//Importa archivos secundarios
@import "utilidades/variables";


.gridHeaderM{
    @include gridArea(gridHeader);
    @include grid(3, .3rem);
    background-image: url("../img/GENERAL/IMG_0511.jpg");
    grid-template-areas: 
    "logo RedesSociales Logging"
    "logo RedesSociales Logging";

    .logo{
        @include gridArea(logo);
        display: flex;
        justify-content: center;
        margin: 2%;
        transition: 1s;
        img{
            @include medidasCaja(35vh, 30vh, 1% 8%);
            animation-name: movimiento-img;
            animation-iteration-count:  infinite;
            animation-duration: 1s;
            animation-direction: alternate;
            }



        }   

    .RedesSociales{
        @include gridArea(RedesSociales);
        @include flexible(flex, row, wrap, center, center);
        margin: 2%;
        gap: 5%;
        img{
            @include medidasCaja(3rem, 3rem, 0.6rem);
            filter: drop-shadow(5px 5px 11px black);
            transition: .3s;
            &:hover{
                @include medidasCaja(4rem, 4rem, 0.8rem);
            }
        }
    }

    
    .Logging{
        @include gridArea(Logging);
       display: flex;
       flex-flow: row-reverse;
       align-content:flex-end;
       justify-content: flex-start;
       align-items: center;
        margin: 2%;
        margin-bottom: 30%;
        gap: 5%;
        img{
            @include medidasCaja(3rem, 3rem, 0.6rem);
            filter: drop-shadow(5px 5px 11px black);
            transition: .3s;
            &:hover{
                @include medidasCaja(4rem, 4rem, 0.8rem);
            }
        }
    }

}




.BarraMenu2{
    @include gridArea(BarraMenu2);
    background-image:  linear-gradient(to left,$color-CelesteOscuro , $color-Celeste );
    justify-items: center;
    border:2px solid rgb(80, 77, 77) ;
    position: sticky;
    top: 0;
    height:5rem;
        ul{
            margin-inline: 25%;
            gap: 3rem;
            display: flex;   
            justify-content: center;
            align-items: center;
            li{
       
           
            a{
                font-size: 1.3rem;
                text-decoration: none;
                color: #373434;
                -webkit-text-stroke: 0.25px rgb(0, 0, 0);
                transition: all 0.5s;
                font-family: $letra_Nav;
                /*Variables por defecto en el a*/
                --clippyAfter: polygon(0 0, 0 100%, 100% 100%, 0 0);
                --clippyBefore: polygon(0 0, 100% 0, 100% 100%, 84% 43%);
                --colorafter: #daf3ea;
                --colorbefore: rgba(23, 7, 7, 0.915);
                &::after{
                    content:  "";
                    display: block;
                    height: 0.2em;
                    /*llamo a las variables por default*/
                    background: var(--colorafter)  ;
                    clip-path: var(--clippyAfter);
                    transition: clip-path 0.4s;
                }
                &::before{
                    content:  "";
                    display: block;
                    height: 0.2em;
                    /*llamo a las variables por default*/
                    background: var(--colorbefore)  ;
                    clip-path: var(--clippyBefore);
                    transition: clip-path 0.4s;
            
                }
               &:hover{

                font-size: 1.1rem;
                color: #022116;
                /*Cambio las variables en el default cuando paso el mouse por arriba*/
                --clippyBefore: polygon(0 100%, 0 0, 100% 0, 21% 50%);
                --clippyAfter: polygon(0 100%,100% 0,100% 100%,0 100% );
                --colorafter: rgba(23, 7, 7, 0.915);
                --colorbefore: #daf3ea;
               } 

               &:focus{
                font-size: 1.2rem;
                text-decoration:underline;
                color: #000000;
                -webkit-text-stroke: 0.25px rgb(255, 255, 255);
                }
            
            }

        }
    }
        
}



.containerMultimedia{
    @include flexible(flex, column, wrap, space-around, center);

    .listaMultimedia{
        background-image:  linear-gradient(to left,$color-Gris, $color-Blanco );
        justify-items: center;
        border:2px solid rgb(80, 77, 77) ;
        position: sticky;
        top: 80px;
    }
    .seccionFotos{
   @include flexible(flex, column, wrap, center, center);
   width: 100%;
   gap: 5%;
        .title{
            display: block;
        }
        .agrupacionCard{
            @include flexible(flex, row, wrap, space-around, center);
        
        .cardPropia{
        
            .imgCard{
        
              img{
                width: 100%;
                height: 35vh;
              }
            }
        }
    }
}
    .seccionVideo{
        @include flexible(flex, column, wrap, center, center);
        width: 100%;
        gap: 5%;
             .title{
                 display: block;
             }
             .agrupacionVideo{
                 @include flexible(flex, row, wrap, space-around, center);
             
             .cardPropia{
             
                 .imgCard{
             
                   img{
                     width: 100%;
                     height: 35vh;
                   }
                 }
             }
         }
        }
    }


    @media  (max-width: 740px){

        .gridHeaderM{
            position: relative;
            .logo{
                margin: 2%;
                img{
                    @include medidasCaja(25vh, 20vh, 1% 8%);
                    }
                }   
            .RedesSociales{
                position: absolute;
                bottom: 10%;
                left: 100%;
                display: flex;
                flex-flow: row nowrap;
                margin: 1%;
                gap: 2.5%;
                img{
                    @include medidasCaja(1.5rem, 1.5rem, 0.3rem);
                    filter: drop-shadow(3px 3px 7px black);
                    transition: .3s;
                    &:hover{
                        @include medidasCaja(2rem, 2rem, 0.5rem);
                    }
                }
            }
        
            
            .Logging{
                @include gridArea(Logging);
               display: flex;
               flex-flow: row-reverse;
               align-content:flex-end;
               justify-content: flex-start;
               align-items: center;
                margin: 2%;
                margin-bottom: 30%;
                gap: 5%;
                img{
                    @include medidasCaja(3rem, 3rem, 0.6rem);
                    filter: drop-shadow(5px 5px 11px black);
                    transition: .3s;
                    &:hover{
                        @include medidasCaja(4rem, 4rem, 0.8rem);
                    }
                }
            }
        
        }




        .BarraMenu2{
            height: max-content;
            ul{
                margin-inline: 1%;
                gap: 2rem;
            }
        }

 

    .containerMultimedia{
     background-color: $color-Gris;
        .listaMultimedia{
            background-image:  linear-gradient(to left,$color-Gris, $color-Blanco );
            justify-items: center;
            border:2px solid rgb(80, 77, 77) ;
            position: fixed;
            top:85vh;
            
            height: 50px;
            
        }

    }
}