
//MQ PAGINAS PARA TABLET
@media screen and (min-width: 320px) and (max-width: 768px){
//HOME
    .containerHome{
        .seccionA{
            @include seccion_768;
            justify-content: center ;
            .imgCarousel{
               margin-top: 5%;
            }
             }
        .seccionB{
            @include seccion_768;
            margin-top: 50vh;
            margin-bottom: 5vh;
            gap: 5%;
        }
    }
 //MULTIMEDIA
    .containerMultimedia{
        .listaMultimedia{
            position: fixed;
            width: 20%;
            bottom:8vh; 
            height: 50px;
            top: unset;   
        }
    }
 //MINISTERIOS
    .containerMinisterio{
        .ministerios{
            @include flexible(flex, row, wrap,space-around,center);
            .ministeriosBanner__Mq768{
                width: 45%;
                margin-top: 5%;
                height: 60vh;
                .ministeriosBannerInterior1{
                    p{
                        font-size: 2vw;
                        height: 900;
                    }
                 }
                 .ministeriosBannerInterior2{
                    li{
                        font-size: 2vw;
                    }
                }
             }
        }
    }
//FORMAR PARTE
    .containerFormar{

        .formularioMapa{
            @include flexible(flex, column, wrap, space-around, center);
            .formulario{
                width: 60%;
                }
                .mapa{
                margin-top: 5%;
                }
                
                .formarParte__datos--footer{
                p{
                font-size: 3vw;
                }
            }
        }
    }

}


//MQ PAGINAS PARA CELULAR
@media screen and (max-width: 320px){
//HOME
.containerHome{
    .seccionA{
        @include seccionColumn_768;
        justify-content: center ;

        .seccion__contenido{
            width: 80%;
            .seccion__title{
                h2{
                font-size: 5vw;
                }
            }
            .seccionParrafo{
                p{
                    font-size: 3vw;
                }
            }
        }
        .imgCarousel{
           margin-top: 2%;
           width: 80%;
        }
         }

    .seccionB{
        .seccion__contenido--2{
            width: 80%;
            .seccion__title{
                h2{
                font-size: 5vw;
                }
             }
            .seccionParrafo--2{
                margin-top: 30%;
                p{
                 
                    font-size: 3vw;
                }
            }
        }
        .seccionVideo{
            margin-top: 5%;
            height:0px;
            width:100%;
            max-width: 560px;
            position: relative;
            padding-top:56.25%;
            iframe{
                position:absolute;
                height:100%;
                width:100%;
                top:0px;
                left:0px;
            }
        }
    }
}
//MULTIMEDIA
    .containerMultimedia{
        .listaMultimedia{
            z-index: 2;
            position: fixed;
            width: 20%;
            bottom:unset; 
            height: 100px;
            top: 55vh;
            left: 0;
            .container-fluid{
                flex-direction: column;
            }
        }
        .seccionFotos{
            width: 90%;
            gap: 5%;
                .subTitle{
                    margin-top: 3%;
                    h2{
                        font-size: 3.5vh;
                        }
                    }
                .agrupacionCard{                    
                    .cardPropia{
                        box-shadow: 0px 0px 30px black;
                        margin-top: 4%;
                        }
                }
            }    
        .seccionVideo{
            @include seccionColumn_768;
            width: 100%;
        
            .subTitle{
                margin-top: 3%;
                h2{
                    font-size: 3.5vh;
                    }
                }
            .agrupacionVideo{
                @include seccionColumn_768;
                
                .cardPropia{
                    width:310px;
                    margin:auto;
                    .pieCard{
                        p{                            
                            font-weight: 500;  
                            font-size: 2vh;                  
                        }
                    }
                    .imgCard{
                        margin-top: 5%;
                        height:0px;
                        width:100%;
                        max-width: 310px;
                        padding-top:56.25%;
                        position: relative;
                    
                        iframe{
                            position:absolute;
                            height:100%;
                            width:100%;
                            top:0px;
                            left:0px;
                        }
                    }
                }
            }
        }
    }
//MINISTERIOS
    .containerMinisterio{
        .ministerios{
            @include flexible(flex, column, wrap,space-around,center);

            .ministeriosBanner__Mq768{
                width:90%;
                margin-top: 5%;
                height: 70vh;
                .ministeriosBannerInterior1{
                    p{
                        font-size: 3vw;
                        height: 900;
                    }
        
                }
                .ministeriosBannerInterior2{
                    li{
                        font-size: 3vw;
                    }
                }
            }
        }
    }
//RECURSOS
.containerRecursos{      
    .recursos{ 
         .recursoTitle{
             h3{
                 font-size: 1em;
             }
         }
         .recursoIcono{
             width: 20%;
             img{
                 object-fit: scale-down;
                 width: 100%;
              }
             }
         .recursoDescripcion{
             display: none;
         }
         .recursoPeso{
             display: none;
         }    
    }
 }
 //FORMAR PARTE
        .containerFormar{
                .formularioMapa{
                    .formulario{
                        width: 80%;
                    }
                    .mapa{
                        margin-top: 8%;
                
                    }
                    
                    .formarParte__datos--footer{
                        p{
                        font-size: 6vw;
                        line-height: 30px;
                    }
                }
            }
        }

}