//variables un solo valor
//Colores
$color-Blanco: #f7f4e8;
$color-Gris:#daf3ea;
$color-Naranja:#eec276;
$color-Crema: #fbf6d0;
$color-rosa:#f88f89;
$color-Celeste: #85e6c0;
$color-azul:#2a8b8b;
$color-CelesteOscuro:#6bb39b;
$color-Negro: #1f0e1a;

//Fuentes
$letra_H1: 'Square Peg', cursive;
$letra_H2:'Josefin Sans', sans-serif;
$letra_H3:'Varela Round', sans-serif;
$letra_Nav: 'Josefin Sans', sans-serif;
$letra_P: 'Nunito Sans', sans-serif;
$letra_Banner: 'Nunito Sans', sans-serif;

//Tamaño Fuentes
$letra_H1_alto: 10vw;
$letra_H2_alto:3vw;
$letra_H3_alto:2vw;
$letra_Nav_alto:2vw;
$letra_P_alto:1.5vw;
$letra_Banner_alto:4vw;


//variables listas

$colores: 
 #f7f4e8,
 #daf3ea,
 #85e6c0,
 #6bb39b,
 #0b0b0d,