//variables un solo valor
//Colores
$color-Blanco: #f7f4e8;
$color-Gris:#daf3ea;
$color-Celeste: #85e6c0;
$color-CelesteOscuro:#6bb39b;
$color-Negro: #0b0b0d;

//Fuentes
$letra_H1: 'Square Peg', cursive;
$letra_H2:'Josefin Sans', sans-serif;
$letra_Nav: 'Josefin Sans', sans-serif;
$letra_P: 'Varela Round', sans-serif;

//Tamaño Fuentes
$letra_H1_alto: 4rem;
$letra_H2_alto:3rem;
$letra_Nav_alto:2rem;
$letra_P_alto:2rem;



//variables listas


$colores: 
 #f7f4e8,
 #daf3ea,
 #85e6c0,
 #6bb39b,
 #0b0b0d,